<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All contacts
    </h1>

    <a href="/contacts/new" class="btn btn-block btn-outline-secondary">
      Add a new contact
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Email
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= contact.id %>
        </td>

        <td>
          <%= contact.first_name %>
        </td>

        <td>
          <%= contact.last_name %>
        </td>

        <td>
          <%= contact.email %>
        </td>

        <td>
          <%= contact.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(contact.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(contact.updated_at) %> ago
        </td>

        <td>
          <a href="/contacts/<%= contact.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
