<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All compositions
    </h1>

    <a href="/compositions/new" class="btn btn-block btn-outline-secondary">
      Add a new composition
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Quantity
        </th>

        <th>
          Recipe
        </th>

        <th>
          Ingredient
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @compositions.each do |composition| %>
      <tr>
        <td>
          <%= composition.id %>
        </td>

        <td>
          <%= composition.quantity %>
        </td>

        <td>
          <%= composition.recipe_id %>
        </td>

        <td>
          <%= composition.ingredient_id %>
        </td>

        <td>
          <%= composition.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(composition.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(composition.updated_at) %> ago
        </td>

        <td>
          <a href="/compositions/<%= composition.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
